<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.justfile.mapper.ShareMemberMapper">

    <select id="selectByShareIdAndFingerprint" resultType="com.justfile.entity.ShareMember">
        SELECT * FROM share_member WHERE share_id = #{shareId} AND member_fingerprint = #{fingerprint}
    </select>

    <select id="selectByShareId" resultType="com.justfile.entity.ShareMember">
        SELECT * FROM share_member WHERE share_id = #{shareId} ORDER BY role DESC, joined_at ASC
    </select>

</mapper>