<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.justfile.mapper.TusUploadMapper">

    <select id="selectByTusId" resultType="com.justfile.entity.TusUpload">
        SELECT * FROM tus_upload WHERE tus_id = #{tusId}
    </select>

</mapper>